body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  border-top: 5px solid #4c4066;
}

#wrapper {
  width: 90%;
  max-width: 1040px;
  margin: 0 auto;
  min-width: 350px;
}

h1 {
  margin: 15px 0;
  font-size: 85px;
  color: #6f6c7c;
  text-shadow: 1px 1px 5px #72629a;
}

#left-bar {
  width: 25%;
  min-width: 200px;
  display: inline-block;
}

#left-bar img {
  width: 100%;
}

#container {
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
  width: 60%;
}

.frame {
  padding: 5px 15px 15px;
  background-color: white;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
  border-top: none;
  border-bottom-left-radius: 10px; 
  border-bottom-right-radius: 10px;
}

#left-bar .frame img {
  border-top: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  padding: 7px 0;
}

.rounded {
  border-radius: 15px;
}

