body {
  font-family: Helvetica, Arial, sans-serif;
  border-top: 5px solid #4c4066;
  margin: 0;
  padding: 10px 150px;
  font-size: 12px;
  color: #666666;
}

header {
  font-size: 30px;
  text-align: center;
  margin: 10px 0;
  padding: 20px 0 0;
}

nav {
  text-align: center;
  margin-top: 35px;
}

nav a {
  text-decoration: none;
  font-size: 18px;
  color: #602494;
  padding: 0 5px;
}

nav a:hover {
  border-bottom: 1px dashed  #7728bd;
}

.top {
  background-color: rgb(247, 245, 245);
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  border-radius: 25px 25px 0 0;
}

.title {
  color: #363434;
  font-size: 20px;
}

h1 {
  color: #363434;
  font-size: 18px;
}

#paragraph p {
  font-size: 15px;
  color: #363434;
  width: 70%;
  text-align: justify;
  line-height: 1.2em;
}

#paragraph {
  padding: 10px;
}

#pictures {
  margin-top: 25px;
  padding-left: 10px;
}

#pictures img {
  width: 235px;
  height: 224px;
}

#pictures .image {
  margin-top: 20px;
  padding: 8px;
  width: 240px;
  display: inline-block;
}

#pictures p {
  text-align: center;
  margin: 0;
  padding: 5px 0;
  font-style: italic;
  font-size: 12px;
  border-bottom: 1px dotted #2E8B57 ;
}

.flip-image:hover {
  transform: rotate(30deg);
}
